 <div class="ui block inverted header" id="white">
    <%= link_to charts_path do%>
<h1>BillBoards</h2>
    <% end %>
    </div>
    </div>
    <div class="banner">
<img class="ui large avatar image" src="https://loremflickr.com/420/240/band,music?lock=<%= @artist.id + 10 %>" />
<div><h1 class="centered"><%= @artist.name %></h1></div>
</div>
    
<table class="ui striped inverted table">
  <tbody class="center aligned">
<% @artist.songs.each do |song| %>
<tr>
        <td class="right aligned">
<h2><%= song.name %></h2>
</td><td>
<h2><audio class="center aligned" src="/audios/rickroll.mp3" type="audio/mpeg" controls>
Your Browers Doesnt Support Audio Files
</audio></h2>
</td>
</tr>
<% end%>
</tbody>
</table>