<%= binding.pry %>
<% @songs.each do |song| %>
    <li><%= song.name %> <%= link_to 'edit', edit_artist_song_path(song) %> <%= link_to 'delete', artist_song_path(chart), method: :delete %></li>
  <% end %>